
{% extends "dispositivos/base.html" %}

{% block content %}
<style>
/* Botón claro que al pasar el mouse se vuelve negro con texto blanco */
.btn-hover-black {
    transition: all 0.3s ease; /* efecto suave */
}

.btn-hover-black:hover {
    background-color: #000 !important; /* fondo negro */
    color: #fff !important;            /* texto blanco */
    border-color: #000 !important;     /* opcional: borde negro */
}
</style>
-----
<div class="container p-4" style="background-color: #333; border-radius: 8px; color: white;">
    
    <h3>Editar Dispositsivo: {{ dispositivo.nombre }}</h3>
    
{% if dispositivo.imagen %}
<p>Imagen actual:</p>
<img src="{{ dispositivo.imagen.url}}" class="img-thumbnail mb-3" style="max-height:150px;"> 
{% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-light btn-hover-black">Actualizar</button>
        <a href="{% url 'dispositivos' %}" class="btn btn-light btn-hover-black">Cancelar</a>
    </form>
</div>

{% endblock %}
